@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.project-component{
    min-height: calc(100vh - 350px);
    max-width: 100%;
    margin: 10%;
    margin: 5%;

  
    
    &__title{
        font-family: v.$font;
        font-size: 3em;
        text-align: center;
        background: 
        -webkit-linear-gradient(v.$coral, v.$yale-blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 5%;
        margin-top: 3%;

        // @include m.tablet{
        //     font-size: 4em;
        // }
    }
    &__flex{
        // margin-top: 10%;
        margin: 5%;
    &__desctitle{
        font-family: v.$mono;
        font-size: 2em;
        
        background: 
        -webkit-linear-gradient(v.$coral);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        flex-direction: column;
    }
    &__desc{
        width: 90%;
        font-family: v.$desc;
    }
    &__url{
        font-size: 1rem;
        margin: 2%;
        font-family: v.$mono;
        
        color: v.$coral;
        &__link{
            text-decoration: none;
            color: v.$coral;
            
        }
    }
}
@include m.desktop{
    min-height: calc(100vh - 400px);
    width:80%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    

    &__title{
        margin-top: 6%;
        font-family: v.$font;
        font-size: 4.2em;
        height: 100%;
    }
            &__flex{
                display: flex;
                gap: 10%;
                flex-direction: column;
                width:100%;
            &__desctitle{
                font-family: v.$mono;
                font-size: 2em;
                flex-direction: column;
                margin-bottom: 3%;
            }
            &__desc{
                width: 100%;
                font-size: 1.1em;
                }
                &__url{
                    font-size: 1.4rem;
                }
            }
        }


}
