@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.home-container{
    width:90%;
    
    min-height: calc(100vh - 400px);
    display: flex;
    justify-content: center;
    
    
    &__text{
        padding: 2rem;
        font-size:5em;
        font-family: v.$fine;
        color: v.$coral;
        text-align: center;
        margin-top: 15%;
   
    }
    @include m.tablet{
        width:80%;
       
        &__text{
            font-size: 6em;
        }
    }
    @include m.desktop{
        &__title{
            font-size: 4.7em;
        }
        &__text{
            font-size: 7em;
        }
    }
}