@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.home-container{
    width:90%;
    margin-top: 10%;
    margin-left: 5%;
    
    &__title{
        font-size: 2em;
    }
    &__text{
        font-size: 2.2em;
        font-family: v.$fine;
    }
    @include m.tablet{
        width:80%;
        &__title{
            font-size: 4em;
        }
        &__text{
            font-size: 3.5em;
        }
    }
    @include m.desktop{
        width:50%;
        margin-top: 10%;
        margin-left: 5%;

        &__title{
            font-size: 4.7em;
        }
        &__text{
            font-size: 5em;
            font-family: v.$fine;
        }
    }
}