//breakpoints
$desktop: 1100px;
$tablet:778px;

//colors

$dark: #2B3A55;
$easyred: #CE7777;
$pink: #E8C4C4;
$light: #F2E5E5;

$yale-blue: #083d77ff;
$beige: #ebebd3ff;
$cerise: #da4167ff;
$naples-yellow: #f4d35eff;
$coral: #f78764ff;
$ebony: #545E56;

//fonts
$mono: 'Nanum Gothic Coding', monospace;

$sans: 'Paytone One', sans-serif;

$font: 'Tourney', cursive;

$desc: 'Jura', sans-serif;

$fine: 'Belleza', sans-serif;